header {
	font-family: 'Donegal One', serif;
}

body {
	width: 960px;
	font-family: 'Donegal One', serif;
	background: url("http://extramusical.github.com/wsd/images/background.jpg"); 
}

img {
	float: left;
	padding: 5px;
}


h1 {
	float: left;
	color: white;
	padding: 5px;
}


li {
	width: 100px;
	color: white;
	float: left;
	padding: 20px;
	background: blue;
	
}

a:hover {
	color:#FF00FF;
}

h2 { 
	align: right;
	padding: 5px;
}

p {
   color: white;
   float: right;
   background: blue;
   padding: 5px;
}

a {
	width: 140px;
	color: white;
	float: right;
	background: blue;
	padding: 20px;
}

