body {
	margin: 0 auto;
	width: 960px;
	background: light green;
}

img {
	float: left;
}

li {
	width: 100px;
	color: blue;
	float: right;
}

h1 {
	float: left;
}

h2 { 
	align: left;
}

p {
   color: red;
}

a {
	text decoration: none;
	background: #fff
}

