header {
	font-family: 'Donegal One', serif;
}

body {
	width: 960px;
	font-family: 'Donegal One', serif;
}

img {
	float: left;
}


h1 {
	float: left;
	color: light blue;
}


li {
	width: 100px;
	color: blue;
	float: left;
}

h2 { 
	align: right;
}

p {
   color: red;
   float: right;
   background: #666;
}

a {
	text decoration: none;
}

